{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "Chrome >= 90",
            "Firefox >= 88",
            "Safari >= 14",
            "Edge >= 90"
          ]
        },
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "3"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}